@page "/login"
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "/Pages/_Layout.cshtml";
}

<style>
    .vertical-center {
        min-height: 100%;
        min-height: 100vh; 

        display: flex;
        align-items: center;
    }
</style>

<div class="container-fluid vertical-center ">
    <div class="card col-sm-8 mx-auto rounded-lg shadow-lg">
        <div class="card-header">
            <h3 class="my-0 py-0">Log in</h3>
        </div>
        <div class="card-body">
            <section>
                <form id="account" method="post" class="py-0">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating py-1">
                        <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" />
                        <label asp-for="Input.Username" class="form-label text-dark"></label>
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-1">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                        <label asp-for="Input.Password" class="form-label text-dark"></label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div>
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe" class="form-label text-dark">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div>
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                    </div>
                    <div class="py-0">
                        <p class="my-0">
                            <a id="forgot-password" asp-page="/account/ForgotPassword">Forgot your password?</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
        <div class="card-footer text-dark">
            <a href="/">Go Back</a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
