[Unit]
Description="PiCamHome IPSync automatic server IP sync"
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=node /home/pi/Documents/PiCamHomeSecurity/PiCam/IPSync/index.js
WorkingDirectory=/home/pi/Documents/PiCamHomeSecurity/PiCam/IPSync/
StandardOutput=inherit
StandardError=inherit
Restart=on-failure
RestartSec=5s
User=pi
RuntimeMaxSec=1800

[Install]
WantedBy=default.target
