[Unit]
Description="PiCamHomeSecurity PiCam software service"
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=node /home/pi/Documents/PiCamHomeSecurity/Camera/PiCam/index.js
WorkingDirectory=/home/pi/Documents/PiCamHomeSecurity/Camera/Picam/
StandardOutput=inherit
StandardError=inherit
Restart=on-failure
RestartSec=5s
User=pi
RuntimeMaxSec=1800

[Install]
WantedBy=default.target
