[Unit]
Description="PiCamHomeSecurity PiCam automatic footage recording service"
Wants=network-online.target
After=network-online.target

[Service]
ExecStartPre=/bin/sleep 2
ExecStart=/home/pi/Documents/PiCamHomeSecurity/Camera/Scripts/picam.sh
WorkingDirectory=/home/pi/Documents/PiCamHomeSecurity/Camera/Scripts
StandardOutput=inherit
StandardError=inherit
Restart=on-failure
RestartSec=1s
User=pi
RuntimeMaxSec=300

[Install]
WantedBy=default.target
